DATABASE_URL="postgresql://..."

BETTER_AUTH_SECRET="your-secret-here"
BETTER_AUTH_URL="http://localhost:5173"
CLIENT_URL="http://localhost:5173"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
# LINKEDIN_CLIENT_ID=""
# LINKEDIN_CLIENT_SECRET=""
# FACEBOOK_CLIENT_ID=""
# FACEBOOK_CLIENT_SECRET=""

RESEND_API_KEY=
EMAIL_FROM="Franchisia <onboarding@resend.dev>"
EMAIL_REPLY_TO="support@franchisia.com"
APP_URL="http://localhost:5173"
TEST_EMAIL=your-email@example.com
